extends layout

block content
    script(src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js")
    main.mdl-layout__content
        .page-content
            .demo-card-wide.mdl-card.mdl-shadow--2dp
                form(action=formUrl, method='post')
                    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.inputBox(style="margin-bottom:5px;")
                        input#title_text.mdl-textfield__input(type='text', name='title')
                        label.mdl-textfield__label(for='title_text') 제목
                    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.inputBox(style='marigin-top:5px;')
                        input#imageUrl.mdl-textfield__input(type='text', name='headUrl')
                        label.mdl-textfield__label(for='imageUrl') 헤드 이미지 url 
                    div(style="margin:20px")
                        textarea#content.inputBox(name="content", cols="30", rows="10")
                    div(style="margin:30px;")
                        label(for="category")   Category
                        select#category.mdl-textfield__input(name='category')
                            option(value='안드로이드') 안드로이드   
                            option(value='모던 자바') 모던 자바
                            option(value='자바스크립트') 자바스크립트   
                            option(value='알고리즘') 알고리즘
                            option(value='잡담') 잡담
                    input(type='hidden', value=date, name="date") 
                    input(type='hidden', value=userId, name="aurthor")
                    button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(type=submit, style="float:right; margin:30px;") 작성하기

            .demo-card-wide.mdl-card.mdl-shadow--2dp
                label(style="margin-left:20px; margin-top:20px") 카테고리 추가 / 이미지 업로드
                form(action="#", method="category")
                    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.inputBox
                        input#categoryName.mdl-textfield__input(type='text', name='categoryName', style='width:calc(100% - 120px); margin-top:0px;')
                        label.mdl-textfield__label(for='categoryText') 카테고리
                    button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(type=submit, style="margin-left:20px;margin-bottom:30px;") 카테고리 추가
                    .button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--accent(style="margin-left:10px;margin-bottom:30px; a:link{color : white; text-decoration: none};",type='button', id='image_upload')
                        a(href='/files/upload', target='_blank') 이미지 업로드

    script.
        var simplemde = new SimpleMDE({ element: document.getElementById("content") });