extends layout

block content
    main.mdl-layout__content
        .demo-container.mdl-grid
            .mdl-cell.mdl-cell--2-col.mdl-cell--hide-tablet.mdl-cell--hide-phone
            .demo-content.mdl-color--white.mdl-shadow--4dp.content.mdl-color-text--grey-800.mdl-cell.mdl-cell--8-col.main_card
                div
                    h1(style='float:left')  #{post.title}
                    br
                    br
                    br
                    br
                .demo-crumbs.mdl-color-text--grey-500
                    | posted by
                    a(href='#')  purplebeen
                    |  on #{post.date} in 
                    a(href='/categories/' + post.category) #{post.category}
                br
                -if(user && post.aurthor === user.id)
                    a(href='/posts/' + post._id + '/delete')
                        button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-js-ripple-effect.mdl-button--colored(style='float:right; margin:5px')
                            i.material-icons delete
                            i.material-icons delete
                    a(href='/posts/' + post._id + '/edit')
                        button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-js-ripple-effect.mdl-button--colored(style='float:right; margin:5px;')
                            i.material-icons edit
                    br
                    br
                    br
                    br
                br
                p
                    | !{md.render(post.content)}

            -for(let comment of post.comments)
                .mdl-cell.mdl-cell--2-col.mdl-cell--hide-tablet.mdl-cell--hide-phone
                .demo-content.mdl-color--white.mdl-shadow--4dp.content.mdl-color-text--grey-800.mdl-cell.mdl-cell--8-col.main_card
                    h2.mdl-card__title-text #{comment.aurthor}
                    br
                    p #{comment.content}
                    -if(user && comment.aurthor == user.id)
                        br
                        a(href='/comments/delete/' + post._id+ '/' + comment._id)
                            button.button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(style="margin-bottom:30px; a:link{color : white; text-decoration: none};",type='button', id='image_upload')   삭제
        -if(user)
            .demo-container.mdl-grid
                .mdl-cell.mdl-cell--2-col.mdl-cell--hide-tablet.mdl-cell--hide-phone
                .demo-content.mdl-color--white.mdl-shadow--4dp.content.mdl-color-text--grey-800.mdl-cell.mdl-cell--8-col.main_card.table-header
                    h4 댓글을 입력하세요
                    form(action='/comments/write/' + post._id , method='post')
                        .mdl-textfield.mdl-js-textfield
                            textarea#comments.mdl-textfield__input(type='text', rows='5' cols='20', name='content')
                            label.mdl-textfield__label(for='comments') 댓글을 입력하세요
                        input(type='hidden', name='aurthor', value=user.id)
                        button#submit.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--colored(type='submit')
                            | 보내기
